<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <meta http-equiv="refresh" content="5"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Form HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
<!-- 
	<style>
		table,th,td{
			border:1px solid black;
		}
	</style>
</head> -->

<body>
	{{if .Success}}
	<h1>{{.Message3}}</h1><br><br>

	{{end}}
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="form-header">
							<h1>Delete your Details here and Click below read button to get all database Details</h1>
						</div>
						<form Method="POST" action="/delete">
                            <div class="col-sm-14">
                                <div class="form-group">
                                    <span class="form-label">Email</span>
                                    <input class="form-control" name="email" type="email" placeholder="Enter your email" >
                                    <!-- <input type="text"   name="email" placeholder="Enter your E mail" style=" height: 45px;"> -->
                                </div>
                            </div>



							 <div class="form-btn">
						
								
								
                                <button class="submit-btn" style="background-color:yellow" name="submit" value="Delete">Delete</button>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</body> <!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>