<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <meta http-equiv="refresh" content="5"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Form HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
<!-- 
	<style>
		table,th,td{
			border:1px solid black;
		}
	</style>
</head> -->

<body>
	

	<!-- <h1></h1><br><br> -->

	
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="form-header">
							<h1>Your delete is succesful</h1>
						</div>
                        <form action="/hom">
							<!-- <input type="submit" name="submit" value="Book Now" >  -->
							<div classname="form-btn">
								<!-- <button class="submit-btn">Book Now</button>  -->
								<!-- <button type="submit" classname="submit-btn" style={{backgroundcolor: 'yellow' }} name="submit" value="home">Home</button> -->
								<button type="submit" class="submit-btn" style="background-color:yellow" name="submit"
									value="home">Home</button>
							</div>
						</form>
						<h1></h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</body> <!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>